# VSCODE
.vscode/


# Test Suites
.coverage*
.pytest_cache/

# Documentation builds
docs/site/
docs/mlearner.pdf

# Temporary documentation files
docs/sources/user_guide/*.md
docs/sources/user_guide/*/*.md
# docs/sources/api_modules/
# docs/sources/api_subpackages/
docs/sources/api_modules/
docs/sources/api_subpackages/


# PyPI
build/
dist/
MANIFEST

# Temporary files
.coverage
.ipynb_checkpoints
.pytest_cache/

*.sqlite
gmon.out
__pycache__
*.pyc
*.o
*.so
*.gcno
*.swp
*.egg-info
*.egg
*~
build
dist
lib/test
doc/_build
*env
*ENV
.DS_store
.idea
© 2018-2022 GitHub, Inc.

.coveralls.yml
checkpoints/*
integration/Pruebas.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v0.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v1.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v2.ipynb
Pipeline.ipynb
Pipeline1.ipynb
Informe/ACUERDO 5.0 - EDA (Exploratory Data Analysis) v0.ipynb
Informe/ACUERDO 5.0 - EDA (Exploratory Data Analysis).ipynb
Informe/DataAnalyst.ipynb
Informe/Pipeline.ipynb
Informe/Pipeline1.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v5.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v4.ipynb
ACUERDO 5.0 - EDA (Exploratory Data Analysis) v3.ipynb
model_CBT/*