# General
# dlib
Flask


# Frameworks
scikit-learn==0.22.2
scikit-image
matplotlib>=3.1.1
pandas>=0.25.0
numpy
seaborn
shap
hyperopt
scipy

# Models
xgboost
lightgbm
catboost

# testing
pytest>=4.6.6,<5.0.0
pytest-cov
codacy-coverage

# Utils
tqdm
emoji

# doc
mkdocs


